<tr class="warning">
    <td>{{priceCategory}}</td>
    <td>{{price}}</td>
    <td>{{ticetsCount}}</td>
    <td>
        <a class="btn btn-default" href="#/admin/events/edit/ticket/:{{_id}}">Edit</a>
        <form class="adminUsersAction" action="#/admin/events/delete/ticket/:{{_id}}" method="post">
            <button class="btn btn-default">Delete</button>
        </form>
    </td>
</tr>