<tr class="warning">
    <td>{{username}}</td>
    <td>{{firstName}}</td>
    <td>{{lastName}}</td>
    <td>{{email}}</td>
    <td>{{role}}</td>
    <td>
        <form class="adminUsersAction" action="#/delete/:{{_id}}" method="post">
            <button class="btn btn-default">Delete</button>
        </form>
    </td>
</tr>
