{{> header}}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-sm-8 col-xs-8">
            <div class="form-group row">
                <h2 class="display-3">Edit User</h2>
            </div>
            <br/>
            <form action="#/users/edit/:{{_id}}" id="userEditForm" method="post">

                <div class="form-group row required">
                    <label class="form-control-label" for="username">Username</label>
                    <input type="text" id="username" name="username" class="form-control" value="{{editUsername}}" required="required"/>
                </div>
                <div class="form-group row required">
                    <label class="form-control-label" for="firstName">First Name</label>
                    <input type="text" id="firstName" class="form-control" name="firstName" value="{{firstName}}" required="required"/>
                </div>
                <div class="form-group row required">
                    <label class="form-control-label" for="lastName">Last Name</label>
                    <input type="text" id="lastName" class="form-control" name="lastName" value="{{lastName}}" required="required"/>
                </div>
                <div class="form-group row required">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="email" value="{{email}}"/>
                </div>
                <div class="form-group row required">
                    <label for="role">Change Role To:</label>
                    <select name="role" class="form-control" id="role">
                        {{#select role}}
                            <option value="admin">Admin</option>
                            <option value="user">User</option>
                        {{/select}}
                    </select>
                </div>
                <br>
                <br>
                <div class="form-group row">
                    <button class="btn btn-default">Edit</button>
                    <a class="btn btn-default" href="#/users">Cancel</a>
                </div>
            </form>

        </div>
    </div>
</div>

{{> footer}}