<tr class="warning">
    <td><i class="fa fa-{{icon}}" style="font-size:24px;color:{{color}}"></i></td>
    <td>{{username}}</td>
    <td>{{firstName}}</td>
    <td>{{lastName}}</td>
    <td>{{email}}</td>
    <td>{{role}}</td>
    <td>
        <a class="btn btn-default" href="#/users/edit/:{{_id}}">Edit</a>
        <form class="adminUsersAction" action="#/users/delete/:{{_id}}" method="post">
            <button class="btn btn-default">Delete</button>
        </form>
    </td>
</tr>
