<div class="col-sm-4">
    <div class='event'>
        <div class='event-side'>
            <div class='dotted-line-separator'><span class='line'></span></div>
            <div class='event-icon'><span class='fa fa-users'></span></div>
            <div class='event-date'>{{eventDate}}</div>
            <div class='event-time'>{{eventTime}}</div>
            <div class='cut-out'></div>
        </div>
        <div class='event-body'>
            <div class='event-image'><img class='image' src="{{image}}"></div>

            <div class="event-location">{{town}}</div>
            <div class="event-title"><h5><a href="#/events/:{{_id}}" style="text-decoration: none">{{title}}</a></h5></div>

        </div>
    </div>
</div>
<hr>