<tr class="warning">
    <td>{{title}}</td>
    <td>{{location}}</td>
    <td>{{details}}</td>
    <td>
        <a class="btn btn-default" href="#/editUser/:{{_id}}">Edit</a>
        <form class="adminUsersAction" action="#/delete/:{{_id}}" method="post">
            <button class="btn btn-default">Delete</button>
        </form>
    </td>
</tr>
