<header>
    {{#if admin}}
        <nav class="navbar navbar-inverse">
            <div class="container-fluid" id="admin">
                <div class="navbar-header">
                    <a class="navbar-brand adminNav" href="#">WebSiteName</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a class="adminNav" href="#/users">User Management</a></li>
                    <li><a class="adminNav" href="#">Ticket Management</a></li>
                    <li><a class="adminNav" href="#">Other ... ?</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{#if loggedIn}}
                        <li><a href="#/logout" id="linkLogout" class="menu-item">Logout</a></li>
                        <li><a class="adminNav" href="#">Welcome, {{username}}!</a></li>
                    {{else}}
                        <li><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {{/if}}
                </ul>
            </div>
        </nav>
    {{else}}
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">WebSiteName</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="#/tickets">Tickets</a></li>
                    <li><a href="#">Page 2</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{#if loggedIn}}
                        <li id="profile"><span>{{username}}</span>|<a href="#/logout">logout</a></li>
                    {{else}}
                        <li><a href="#/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {{/if}}
                </ul>
            </div>
        </nav>
    {{/if}}
</header>