<div class="required form-check" {{disabled}}>
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="ticketId"
               id="{{_id}}"
               value="{{_id}}" {{disabled}} required="required">
        <span style="color:black">{{priceCategory}} - {{price}} &euro;</span>
    </label>
</div>