<tr class="warning">
    <td>{{title}}</td>
    <td>{{location}}</td>
    <td>{{details}}</td>
    <td>
        <a class="btn btn-default" href="#/admin/events/edit/:{{_id}}">Edit</a>
        <a class="btn btn-default" href="#/admin/events/add/ticket/:{{_id}}">Add Ticket</a>
        <form class="adminUsersAction" action="#/admin/events/delete/:{{_id}}" method="post">
            <button class="btn btn-default">Delete</button>
        </form>
    </td>
</tr>
