<tr class="warning" data-toggle="collapse" data-target="#{{_id}}">
    <td>
        <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button>
    </td>
    <td>{{title}}</td>
    <td>{{location}}</td>
    <td><span class="descriptionText">{{details}}</span></td>
    <td>
        <a class="btn btn-default" href="#/admin/events/edit/:{{_id}}">Edit</a>
        <a class="btn btn-default" href="#/admin/events/add/ticket/:{{_id}}">Add Ticket</a>
        <form class="adminUsersAction" action="#/admin/events/delete/:{{_id}}" method="post">
            <button class="btn btn-default">Delete</button>
        </form>
    </td>
</tr>

<tr class="collapse" id="{{_id}}">
    <td colspan="12" class="hiddenRow">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Price Category</th>
                <th>Price</th>
                <th>Ticket Count</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {{#each tickets}}
                {{> ticket}}
            {{/each}}
            </tbody>
        </table>
    </td>
</tr>