{{> header}}
<div class="container-fliud">
    <div class="wrapper row">
        <div class="preview col-md-6">

            <div class="preview-pic tab-content">
                <div class="tab-pane active"><img src="{{image}}"/></div>
            </div>
        </div>
        <div class="details col-md-6">
            <span>Event:</span>
            <h3 class="product-title">{{title}}</h3>
            <div class="category">
                <span class="category">{{category}}</span>
            </div>
            <p class="product-description">{{details}}</p>
            <!--<h4 class="price">current price: <span>{{price}}</span></h4>-->
            <p class="dateTime"><strong>{{eventDate}} </strong><strong> {{eventTime}}</strong></p>
            <h5 class="location">Location:
                <span class="size" data-toggle="tooltip" title="small">{{location}}</span>
            </h5>
            <div class="location">Ticket price:
                <span class="size" data-toggle="tooltip" title="small">{{ticketPrice}}</span>
            </div>
            <div class="location">Tickets left:
                <span class="size" data-toggle="tooltip" title="small">{{ticketsAvailable}}</span>
            </div>
            <form class="form" action='#' method="POST">
                <label for="ticketsCountInput" id="ticketsCountInputLabel" class="form-control-label location">Tickets count:</label>
                <input type="number" min="1" max="{{ticketsAvailable}}" class="form-control" id="ticketsCountInput" name="ticketsCount" required="required">
                <div class="action">
                    <button class="add-to-cart btn btn-default" type="button">add to cart</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{> footer}}