{{> header}}
<div class="container-fliud">
    <div class="wrapper row">
        <div class="preview col-md-6">

            <div class="preview-pic tab-content">
                <div class="tab-pane active"><img id="eventDetailsImg" src="{{image}}"/></div>
            </div>
        </div>
        <div class="details col-md-6">
            <span>Event:</span>
            <h3 class="product-title">{{title}}</h3>
            <div class="category">
                <span class="category">{{category}}</span>
            </div>
            <p class="product-description">{{details}}</p>
            <p class="dateTime"><strong>Date: {{eventDate}}</strong></p>
            <p class="dateTime"><strong>Time: {{eventTime}}</strong></p>
            <h5 class="location">Location:
                <span class="size" data-toggle="tooltip" title="small">{{town}} - {{location}}</span>
            </h5>
            <div class="action">
                <a href="#/events/tickets/:{{_id}}" class="add-to-cart btn btn-default" type="button">Tickets</a>
            </div>
        </div>
    </div>
</div>
{{> footer}}